.headerMenu {
    position: absolute;
    top: 5px;
    right: 160px;
    width: 217px;
    display: flex;
    justify-content: space-between;
    margin: 53px 0 84px;
    @media screen and (max-width: 1100px) {
        top: 90px;
        right: 103px;
    }
    h2 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin: 0
    }
    a {
        line-height: 20px;
        text-align: right;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        &:first-child {
            text-decoration: none;
        }
    }
}

.reportTitle {
    text-align: center;
    text-overflow: auto;
}

.asteroidBlock {
    width: inherit;
    height: fit-content;
    margin-top: 16px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        border: 1px solid rgb(228, 54, 54);
    }
    @media screen and (max-width: 1100px) {
        flex-direction: column;
        overflow: auto;
        background: transparent;
        align-items: stretch;
    }
    
}

.dangerous {
    @extend .asteroidBlock;
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
    @media screen and (max-width: 1100px) {
        background: white;
    }
}


.imageBlock {
    position: relative;
    margin: 0;
    display: flex;
    width: 300px;
    height: 199px;
    @media screen and (max-width: 1100px) {
        background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
        width: 100%;
        height: 145px;
    }
    svg {
        position: absolute;
        bottom: 0;
        left: 16px;    
        &:last-child {
           bottom: 100px;
           left: 122px;
    }
       @media screen and (max-width: 1100px) {
           transform: rotateY(180deg) scale(0.7);
           bottom: -7px;
           left: 262px;
           &:last-child {
                transform: rotateY(360deg) scale(0.9);
                bottom: 53px;
                left: 23px; 
            }
        }
    }
}

.mobileDanger {
    @extend .imageBlock;
    overflow: hidden;
    border-radius: 10px;
     svg {
       &:last-child {
            transform: scale(5.5);
            top: -130px;
            left: 110px;
        }
    }
    @media screen and (max-width: 1100px) {
        background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
        svg {
            &:last-child {
                 transform: scale(5);
                 left: 105px;
            }
        }
    }
}

.paramsBlock {
    margin: 16px auto 30px 42px;
    height: 136px;
    @media screen and (max-width: 1100px) {
        margin: auto;
    }
    h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-decoration-line: underline;
        margin: 0 auto 16px;
        @media screen and (max-width: 1100px) {
            width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            margin-top: -42px;
            margin-left: 0;
        }
    }
    .params {
        width: 289px;
        @media screen and (max-width: 1100px) {
            padding-top: 4px;
        }
        .date,
        .distance,
        .size {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
            box-sizing:border-box;
            @media screen and (max-width: 1100px) {
                line-height: 24px;
            }
            p {
                min-width: fit-content;
                appearance: none;
            }
            div {
                text-decoration: underline black dotted;
                width: fit-content;
                overflow: hidden;
                color: transparent;
                line-height: 15px;
                margin-left: 2px;
                @media screen and (max-width: 1100px) {
                    line-height: 21px;
                }
            }
        }
    }
}

.dangerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    margin: 0 24px 16px 0;
    @media screen and (max-width: 1100px) {
        margin-bottom: 20px;
    }
    p {
        text-align: center;
        line-height: 24px;
        span {
            font-weight: bold;
        }
    }
}

.buttonBlock{
    margin-top: 20px;
    align-self: center;
}
