.button {
    min-width: 158px;
    height: 48px;
    background: #186DD6;
    border-radius: 24px;
    border: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: translateY(2px);
    }
    p {
        color: #FFFFFF;
        margin: auto 10px;
    }
}