.headerMenu {
    position: absolute;
    top: 5px;
    right: 160px;
    width: 217px;
    display: flex;
    justify-content: space-between;
    margin: 53px 0 84px;
    @media screen and (max-width: 1100px) {
        top: 90px;
        right: 103px;
    }
    h2 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin: 0
    }
    a {
        line-height: 20px;
        text-align: right;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        &:first-child {
            text-decoration: none;
        }
    }
}

.asteroidBlock {
    width: inherit;
    height: fit-content;
    margin-top: 16px;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    
    @media screen and (max-width: 1100px) {
        flex-direction: column;
        overflow: auto;
        align-items: stretch;
    }
}

.dangerous {
    @extend .asteroidBlock;
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
}


    .titleBlock {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 15px;
        h2 {
            font-weight: bold;
            font-size: 30px;
            line-height: 32px;
            text-decoration-line: underline;
            
            @media screen and (max-width: 1100px) {
                width: 250px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                position: relative;
                margin-left: 0;
                font-size: 24px;
            }
        }
        .params {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media screen and (max-width: 1100px) {
                padding-top: 4px;
            }
            .param {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 12px;
                padding: 10px;
                box-sizing:border-box;
                border: 1px solid rgb(102, 99, 99);
                border-radius: 10px;
                @media screen and (max-width: 1100px) {
                    display: none;
                }
                p {
                    min-width: fit-content;
                    margin-left: 10px;
                }
            }
        }
    }
    
.detailsTitle {
    text-align: center;
    font-size: 20px;
}

.detailsBlock {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px;
    @media screen and (max-width: 1100px) {
        grid-template-columns: auto;
    }
    .details {
        padding: 15px;
        margin: 15px;
        border: 1px solid rgb(102, 99, 99);
        border-radius: 10px;
        .detail {
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: flex-start;
            border-bottom: 1px dotted rgb(102, 99, 99);
            h4 {
                margin: 0;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.dangerBlock {
    display: flex;
    align-items: center;
    margin: 12px;
    @media screen and (max-width: 1100px) {
        margin-bottom: 20px;
    }
    p {
        text-align: center;
        line-height: 24px;
        span {
            font-weight: bold;
        }
    }
}
