@keyframes scaleFromTo {
    0% {
        transform:
            scale(0);
    }

    50% {
        transform:
            scale(2);
    }

    100% {
        transform:
            scale(0);
    }
}

.modalBlock {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    animation: scaleFromTo 1000ms ease-out;
    transform: scale(0);

    @media screen and (max-width: 1100px) {
        top: 50%;
    }
}