.container  {
    margin-left: 206px;
    margin-right: 157px;
    box-sizing: border-box;
    @media screen and (max-width: 1100px) {
        margin: 0 auto
    }
    
    .header {
        border-bottom: 1px solid #000000;
        display: flex;
        margin: auto 0;
        justify-content: space-between;
        @media screen and (max-width: 1100px) {
            flex-direction: column;
            padding-bottom: 57px;
        }
        
        .headerTitle {
            max-width: 414px;
            margin: 37px 0 24px;
            @media screen and (max-width: 1100px) {
                max-width: 90%;
                margin: 8px auto 8px 0;
            }
            h1 {
                font-size: 36px;
                line-height: 48px;
                margin: 0 0 8px;
                @media screen and (max-width: 1100px) {
                    font-size: 24px;
                }
            }
            p {
                line-height: 20px;
            }
        }
        

        .headerMenu {
            width: 217px;
            display: flex;
            justify-content: space-between;
            margin: 53px 0 84px;
            @media screen and (max-width: 1100px) {
                margin: 11px 0 24px;
            }
            h2 {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                margin: 0
            }
            a {
                line-height: 20px;
                text-align: right;
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
                &:first-child {
                    text-decoration: none;
                }
            }
        }
    }

    .main {
        margin: 26px 0 56px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        @media screen and (max-width: 1100px) {
            width: 100%;
            margin: 10px 0 35px;
        }
    }

    .footer {
        p {
            line-height: 24px;
            text-align: center;
            margin: 0 auto 46px;
            @media screen and (max-width: 1100px) {
                width: 70%;
            }
        }
    }
}