@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/helvetica.otf');
}

body,
#__next {
    font-family: 'Helvetica';
    color: black;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 1100px) {
      width: 320px; 
    }
  }

p {
  font-size: 16px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration-line: underline;
}

button {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
}