.formBlock {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    @media screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.form {
    display: flex;
    align-items: center;
    width: 224px;
    @media screen and (max-width: 1100px) {
        width: 250px;
        margin-bottom: 16px;
    }
    .checkbox {
        appearance: none;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px; 
            top: -9px;
            left: -4px;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.87);
            border-radius: 1px;
        }
        &:checked::after {
            content: url("../public/images/mark.svg");
            position: absolute;
            top: -9px;
            left: -2px;
            z-index: 1;
        }
        @media screen and (max-width: 1100px) {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }

    .label {
        margin-left: 18px;
        @media screen and (max-width: 1100px) {
            margin-left: 22px;
        }
    }
}

.distance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    margin-right: 0;
    span {
        font-weight: bold;
    }
    @media screen and (max-width: 1100px) {
        width: 212px;
        flex-direction: column;
        line-height: 24px;
        margin-left: 0;
        align-items: start;
    }
}

.moonDist {
    font-family: 'Helvetica';
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    @media screen and (max-width: 1100px) {
        text-decoration: underline;
    }
}
